#egy{
    font-size: 25px;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg,rgb(170, 3, 192),rgb(104, 182, 219));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: -5px;
    
    transition: 0.5s;
}
.nav-item a{
    font-size: 17px;
}
#egy:hover{
    text-shadow: 1px 1px 10px rgb(11, 126, 155);

}
#home:hover::first-letter{
    color: rgb(198, 32, 195);
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 20px;
}
#navbarDropdown:hover::first-letter{
    color: rgb(198, 32, 195);
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 20px;

}
.dropdown-menu{
    opacity: 0.7;
}
#car-caption{
    background-color: rgba(71, 139, 223, 0.505);
}
.sec-div{
    background-color: cadetblue;
}
.sec-div h3{
background: -webkit-linear-gradient(top,rgb(170, 3, 192),rgb(0, 131, 192));
-webkit-text-fill-color: transparent;
background-clip: text;


}
.accordion-button{
    background: -webkit-linear-gradient(90deg,rgb(170, 3, 192),rgb(104, 182, 219));
-webkit-text-fill-color: transparent;
background-clip: text;

}
.break{
    background-image: url("../img/places_to_visit_in_egypt_2_46151d1196.png");
    background-attachment: fixed;
    width:100%;
    height: 300px;
}
#dolls h1{
    background: -webkit-linear-gradient(top,rgb(170, 3, 192),rgb(0, 131, 192));
-webkit-text-fill-color: transparent;
background-clip: text;

}
.card{
    
}
.card img{
    width: 90%;
    margin: auto;
}
.card a{
   
    bottom: 55px;
    right: 20px;
}
.papa{
    position: relative;
}
.cardover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(45, 144, 236, 0.5);;
   opacity: 0;
    transition: 1.5s;
}
.cardover:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


.cardover::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(45, 144, 236, 0.5);;
   opacity: 0;
    transition: 1.5s;
}
.cardover:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.cardover a{
    position: absolute;
    bottom: 55px;
    right: 27px;
}
.br2{
    background-image: url("../img/200505225432-07-magic-lake-egypt.jpg");
    
}
.thx-card{
    background-image: url("../img/best.jfif");
    background-size: cover;
    height: 500px;
    border-radius: 25px;
    transition: 0.5s;
   
    position: relative;
}
.card-body{
    transition: 0.5s;
}
.thx-card .media{
position: absolute;
bottom: 3px;
left: 20px;
}
.container .overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%);
    top: 0;
    position: absolute;
    border-radius: 25px;
}
.thx-card:hover{
    transform:scale(0.9,0.9)

}
.thx-card img{
    border: solid 3px grey;
}
.thx-card:hover .overlay{
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #003a63 100%);

}
.thx-card:hover .card-body{
    transform: translateY(30px);
}
.egy-news{
    text-align: center;
    background: -webkit-linear-gradient(top,rgb(170, 3, 192),rgb(0, 131, 192));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.line{
    width: 60px;
    height: 5px;
    background-color: blue;
    transition: 0.5s;
}
.sora{
    clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
    height: 100%;
}
.sorra{
    position: absolute;
    height: 100%;
    right: 0;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%);
    
   
    
}
.podcast{
    box-shadow: 0px 0px 20px  rebeccapurple;
    
}
.mlon{
    background: linear-gradient(0deg, rgba(123, 195, 243, 0.379) 0%, #f3f3f4 100%);
}

.buttons button{
    background-color: grey;
    border: none;
    transition: 0.5s;

}
.buttons button:hover{
    background-color: rgb(74, 71, 71);


}
#play:hover{
    background-color: rgb(142, 52, 52);

}
.podcast:hover .line{
    width: 100px;
}
.podcast:hover #ani-img{
    transform: scale(1.15,1.15);
}
.join-us{
    text-align: center;
    background: -webkit-linear-gradient(top,rgb(205, 3, 232),rgb(8, 116, 166));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.logos{
    box-shadow: 0px 0px 20px  rebeccapurple;
}
.join-box{
    box-shadow: 0px 0px 20px  rebeccapurple;
    border-radius: 15px;
    padding-top: 5px;
}
.copy{
    background: -webkit-linear-gradient(top,rgb(205, 3, 232),rgb(8, 116, 166));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.navbar{
    position: fixed;
    z-index: 100;
    width: 100%;
    opacity: 0.9;
}
.connection i{
    font-size: 60px;
    color: rgb(11, 70, 70);
    line-height: 100px
}
.connection{
    position: fixed;
    z-index: 101;
    right: -280px;
    top: 150px;
}
.connection i:hover{
    color: beige;
}
body{
    background-color: rgb(231, 230, 230);
}